body {
  font-family: "Poppins";
  background-color: #dddfe5;
  margin: 0;
}

header {
  position: relative;
  background-color: #f2f3f2;
}

nav {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

#left-menu {
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  gap: 20px;
}

#left-menu a {
  padding: 5px;
  color: black;
  text-decoration: none;
}

#logo img {
  height: 30px;
  object-fit: contain;
}

#right-menu {
  display: flex;
  list-style: none;
}

#right-menu a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  margin-right: 20px;
}

button {
  font-family: "Poppins";
}

input {
  font-family: "Poppins";
}

select {
  font-family: "Poppins";
}

.hamburger-button {
  display: none;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
}

.hamburger-container a {
  width: 100%;
  text-align: center;
  background-color: #ebeaea;
  color: black;
  text-decoration: none;
  padding: 20px 0;
  border: 1px solid white;
}

.hamburger-container .hamburger-active {
  background-color: orangered;
  color: white;
}

.hamburger-hide {
  display: none;
}

@media screen and (max-width: 768px) {
  nav li a {
    display: none;
  }
  nav {
    flex-direction: column;
  }
  .hamburger-button {
    display: block;
  }
  .nav-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-hide {
    display: none;
  }
}
